html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

:root {
    --mio-theme-color-white: #fff;
    --mio-theme-color-on-surface: #1f1f1f;
    --mio-theme-color-scrim-video-container: rgb(31 31 31 / 64%);
    --mio-theme-color-scrim-video-control: rgb(255 255 255 / 12%);
    --mio-theme-color-scrim-video-control-pressed: rgb(255 255 255 / 24%);
    --mio-theme-display-font-family: "Google Sans", sans-serif;
    --mio-theme-text-font-family: "Google Sans Text", sans-serif;
    --mio-theme-mono-font-family: "Google Sans Mono", sans-serif;
    --mio-theme-google-symbol-font-family: "Google Symbols";
    --mio-theme-v2-hero-font-family: var(--mio-theme-display-font-family);
    --mio-theme-v2-hero-font-size: 96px;
    --mio-theme-v2-hero-line-height: 1;
    --mio-theme-v2-hero-font-weight: 475;
    --mio-theme-v2-hero-font-variation-GRAD: 0;
    --mio-theme-v2-hero-font-variation-opsz: 18;
    --mio-theme-v2-hero-letter-spacing: 0;
    --mio-theme-v2-display-xl-font-family: var(--mio-theme-display-font-family);
    --mio-theme-v2-display-xl-font-size: 88px;
    --mio-theme-v2-display-xl-line-height: 96px;
    --mio-theme-v2-display-xl-font-weight: 475;
    --mio-theme-v2-display-xl-font-variation-GRAD: 0;
    --mio-theme-v2-display-xl-font-variation-opsz: 18;
    --mio-theme-v2-display-xl-letter-spacing: 0;
    --mio-theme-v2-display-l-font-family: var(--mio-theme-display-font-family);
    --mio-theme-v2-display-l-font-size: 57px;
    --mio-theme-v2-display-l-line-height: 64px;
    --mio-theme-v2-display-l-font-weight: 475;
    --mio-theme-v2-display-l-font-variation-GRAD: 0;
    --mio-theme-v2-display-l-font-variation-opsz: 18;
    --mio-theme-v2-display-l-letter-spacing: 0;
    --mio-theme-v2-display-m-font-family: var(--mio-theme-display-font-family);
    --mio-theme-v2-display-m-font-size: 45px;
    --mio-theme-v2-display-m-line-height: 52px;
    --mio-theme-v2-display-m-font-weight: 475;
    --mio-theme-v2-display-m-font-variation-GRAD: 0;
    --mio-theme-v2-display-m-font-variation-opsz: 18;
    --mio-theme-v2-display-m-letter-spacing: 0;
    --mio-theme-v2-display-s-font-family: var(--mio-theme-display-font-family);
    --mio-theme-v2-display-s-font-size: 36px;
    --mio-theme-v2-display-s-line-height: 44px;
    --mio-theme-v2-display-s-font-weight: 475;
    --mio-theme-v2-display-s-font-variation-GRAD: 0;
    --mio-theme-v2-display-s-font-variation-opsz: 18;
    --mio-theme-v2-display-s-letter-spacing: 0;
    --mio-theme-v2-headline-l-font-family: var(--mio-theme-display-font-family);
    --mio-theme-v2-headline-l-font-size: 32px;
    --mio-theme-v2-headline-l-line-height: 40px;
    --mio-theme-v2-headline-l-font-weight: 475;
    --mio-theme-v2-headline-l-font-variation-GRAD: 0;
    --mio-theme-v2-headline-l-font-variation-opsz: 18;
    --mio-theme-v2-headline-l-letter-spacing: 0;
    --mio-theme-v2-headline-m-font-family: var(--mio-theme-display-font-family);
    --mio-theme-v2-headline-m-font-size: 28px;
    --mio-theme-v2-headline-m-line-height: 36px;
    --mio-theme-v2-headline-m-font-weight: 475;
    --mio-theme-v2-headline-m-font-variation-GRAD: 0;
    --mio-theme-v2-headline-m-font-variation-opsz: 18;
    --mio-theme-v2-headline-m-letter-spacing: 0;
    --mio-theme-v2-headline-s-font-family: var(--mio-theme-display-font-family);
    --mio-theme-v2-headline-s-font-size: 24px;
    --mio-theme-v2-headline-s-line-height: 32px;
    --mio-theme-v2-headline-s-font-weight: 475;
    --mio-theme-v2-headline-s-font-variation-GRAD: 0;
    --mio-theme-v2-headline-s-font-variation-opsz: 18;
    --mio-theme-v2-headline-s-letter-spacing: 0;
    --mio-theme-v2-title-l-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-title-l-font-size: 22px;
    --mio-theme-v2-title-l-line-height: 30px;
    --mio-theme-v2-title-l-font-weight: 400;
    --mio-theme-v2-title-l-font-variation-GRAD: 0;
    --mio-theme-v2-title-l-font-variation-opsz: 17;
    --mio-theme-v2-title-l-letter-spacing: 0;
    --mio-theme-v2-title-m-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-title-m-font-size: 16px;
    --mio-theme-v2-title-m-line-height: 24px;
    --mio-theme-v2-title-m-font-weight: 500;
    --mio-theme-v2-title-m-font-variation-GRAD: 0;
    --mio-theme-v2-title-m-font-variation-opsz: 17;
    --mio-theme-v2-title-m-letter-spacing: 0;
    --mio-theme-v2-title-s-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-title-s-font-size: 14px;
    --mio-theme-v2-title-s-line-height: 20px;
    --mio-theme-v2-title-s-font-weight: 500;
    --mio-theme-v2-title-s-font-variation-GRAD: 0;
    --mio-theme-v2-title-s-font-variation-opsz: 17;
    --mio-theme-v2-title-s-letter-spacing: 0;
    --mio-theme-v2-label-l-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-label-l-font-size: 14px;
    --mio-theme-v2-label-l-line-height: 20px;
    --mio-theme-v2-label-l-font-weight: 500;
    --mio-theme-v2-label-l-font-variation-GRAD: 0;
    --mio-theme-v2-label-l-font-variation-opsz: 17;
    --mio-theme-v2-label-l-letter-spacing: 0;
    --mio-theme-v2-label-m-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-label-m-font-size: 12px;
    --mio-theme-v2-label-m-line-height: 16px;
    --mio-theme-v2-label-m-font-weight: 500;
    --mio-theme-v2-label-m-font-variation-GRAD: 0;
    --mio-theme-v2-label-m-font-variation-opsz: 17;
    --mio-theme-v2-label-m-letter-spacing: .1px;
    --mio-theme-v2-label-s-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-label-s-font-size: 11px;
    --mio-theme-v2-label-s-line-height: 16px;
    --mio-theme-v2-label-s-font-weight: 500;
    --mio-theme-v2-label-s-font-variation-GRAD: 0;
    --mio-theme-v2-label-s-font-variation-opsz: 17;
    --mio-theme-v2-label-s-letter-spacing: .1px;
    --mio-theme-v2-body-l-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-body-l-font-size: 16px;
    --mio-theme-v2-body-l-line-height: 24px;
    --mio-theme-v2-body-l-font-weight: 400;
    --mio-theme-v2-body-l-font-variation-GRAD: 0;
    --mio-theme-v2-body-l-font-variation-opsz: 17;
    --mio-theme-v2-body-l-letter-spacing: 0;
    --mio-theme-v2-body-m-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-body-m-font-size: 14px;
    --mio-theme-v2-body-m-line-height: 20px;
    --mio-theme-v2-body-m-font-weight: 400;
    --mio-theme-v2-body-m-font-variation-GRAD: 0;
    --mio-theme-v2-body-m-font-variation-opsz: 17;
    --mio-theme-v2-body-m-letter-spacing: 0;
    --mio-theme-v2-body-s-font-family: var(--mio-theme-text-font-family);
    --mio-theme-v2-body-s-font-size: 12px;
    --mio-theme-v2-body-s-line-height: 16px;
    --mio-theme-v2-body-s-font-weight: 400;
    --mio-theme-v2-body-s-font-variation-GRAD: 0;
    --mio-theme-v2-body-s-font-variation-opsz: 17;
    --mio-theme-v2-body-s-letter-spacing: .1px;
    --mio-theme-v2-code-l-font-family: var(--mio-theme-mono-font-family);
    --mio-theme-v2-code-l-font-size: 16px;
    --mio-theme-v2-code-l-line-height: 24px;
    --mio-theme-v2-code-l-font-weight: 400;
    --mio-theme-v2-code-l-letter-spacing: 0;
    --mio-theme-v2-code-m-font-family: var(--mio-theme-mono-font-family);
    --mio-theme-v2-code-m-font-size: 14px;
    --mio-theme-v2-code-m-line-height: 20px;
    --mio-theme-v2-code-m-font-weight: 400;
    --mio-theme-v2-code-m-letter-spacing: 0;
    --mio-theme-v2-code-snippet-font-family: var(--mio-theme-mono-font-family);
    --mio-theme-v2-code-snippet-font-size: 15px;
    --mio-theme-v2-code-snippet-line-height: 32px;
    --mio-theme-v2-code-snippet-font-weight: 500;
    -webkit-font-smoothing: antialiased
}

mio-root {
    --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgba(77, 66, 86, .08), rgba(77, 66, 86, .08));
    --mio-theme-color-on-surface-variant-4: linear-gradient(0deg, rgba(77, 66, 86, .12), rgba(77, 66, 86, .12));
    --mio-theme-color-on-surface-2: linear-gradient(0deg, rgba(28, 27, 29, .08), rgba(28, 27, 29, .08)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-4: linear-gradient(0deg, rgba(28, 27, 29, .12), rgba(28, 27, 29, .12)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-white: #fff;
    --mio-theme-color-on-background: #1c1b1d;
    --mio-theme-color-background: #fefbff;
    --mio-theme-color-on-surface: #1c1b1d;
    --mio-theme-color-on-surface-variant: #4d4256;
    --mio-theme-color-surface-0: #fff;
    --mio-theme-color-on-surface-2: linear-gradient(0deg, rgb(31 25 35 / 8%), rgb(31 25 35 / 8%)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-4: linear-gradient(0deg, rgb(31 25 35 / 12%), rgb(31 25 35 / 12%)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgb(77 66 86 / 8%), rgb(77 66 86 / 8%));
    --mio-theme-color-on-surface-variant-4: linear-gradient(0deg, rgb(77 66 86 / 12%), rgb(77 66 86 / 12%));
    --mio-theme-color-surface-variant: #e8e0e8;
    --mio-theme-color-inverse-surface: #303030;
    --mio-theme-color-inverse-on-surface: #f5eff1;
    --mio-theme-color-primary: #6442d6;
    --mio-theme-color-primary-80: #cbbeff;
    --mio-theme-color-primary-30: #4b21bd;
    --mio-theme-color-primary-20: #340098;
    --mio-theme-color-on-primary: #fff;
    --mio-theme-color-neutral-10: #1c1b1d;
    --mio-theme-color-neutral-90: #e6e1e3;
    --mio-theme-color-primary-container: #9f86ff;
    --mio-theme-color-on-primary-container: #1e0060;
    --mio-theme-color-secondary: #5d5d74;
    --mio-theme-color-on-secondary: #fff;
    --mio-theme-color-secondary-container: #dcdaf5;
    --mio-theme-color-on-secondary-container: #21182b;
    --mio-theme-color-tertiary-container: #f1d3f9;
    --mio-theme-color-on-tertiary-container: #271430;
    --mio-theme-color-utility-error: #ff6240;
    --mio-theme-color-utility-error-variant: #ff6240;
    --mio-theme-color-utility-on-error: #490909;
    --mio-theme-color-utility-error-container: #f9dedc;
    --mio-theme-color-utility-outline: #787579;
    --mio-theme-color-utility-list-hover: rgb(31 25 35 / 8%);
    --mio-theme-color-utility-list-active: rgb(31 25 35 / 10%);
    --mio-theme-color-surface-1: #f8f1f6;
    --mio-theme-color-surface-2: #f2ecee;
    --mio-theme-color-surface-3: #ece7e9;
    --mio-theme-color-surface-4: #e6e1e3;
    --mio-theme-color-surface-5: #e6e1e3;
    --mio-theme-color-extensions-do-container: #34be4d;
    --mio-theme-color-extensions-on-do-container: #11371d;
    --mio-theme-color-extensions-dont-container: #ff6240;
    --mio-theme-color-extensions-on-dont-container: #490909;
    --mio-theme-color-extensions-caution-container: #ffce22;
    --mio-theme-color-extensions-on-caution-container: #3a2900;
    --mio-theme-color-ref-secondary-200: #c6c4de;
    --mio-theme-color-ref-secondary-300: #aaa9c2;
    --mio-theme-color-ref-neutral-100: #e6e1e3;
    --mio-theme-color-ref-neutral-200: #cac5c7;
    --mio-theme-color-scrim-video-container: rgb(31 31 31 / 64%);
    --mio-theme-color-scrim-video-control: rgb(255 255 255 / 12%);
    --mio-theme-color-scrim-video-control-pressed: rgb(255 255 255 / 24%);
    --mio-theme-color-copy-link-tooltip: #f2f2f2;
    --mio-theme-color-warning-icon: #e37402;
    --mio-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --mio-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --mio-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%)
}

mio-root.dark-mode {
    --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgba(196, 199, 197, .08), rgba(196, 199, 197, .08));
    --mio-theme-color-on-surface-variant-4: linear-gradient(0deg, rgba(196, 199, 197, .12), rgba(196, 199, 197, .12));
    --mio-theme-color-on-surface-2: linear-gradient(0deg, rgba(230, 225, 227, .08), rgba(230, 225, 227, .08)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-4: linear-gradient(0deg, rgba(230, 225, 227, .12), rgba(230, 225, 227, .12)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-white: #fff;
    --mio-theme-color-on-background: #e6e1e3;
    --mio-theme-color-background: #141314;
    --mio-theme-color-on-surface: #e6e1e3;
    --mio-theme-color-on-surface-variant: #cbc4cc;
    --mio-theme-color-surface-0: #0f0e0f;
    --mio-theme-color-surface-variant: #4d4256;
    --mio-theme-color-inverse-surface: #e6e1e3;
    --mio-theme-color-inverse-on-surface: #323032;
    --mio-theme-color-surface-1: #1c1b1d;
    --mio-theme-color-surface-2: #211f21;
    --mio-theme-color-surface-3: #2b292b;
    --mio-theme-color-surface-4: #363436;
    --mio-theme-color-surface-5: #363436;
    --mio-theme-color-on-surface-2: linear-gradient(0deg, rgb(242 236 238 / 8%), rgb(242 236 238 / 8%)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-4: linear-gradient(0deg, rgb(242 236 238 / 12%), rgb(242 236 238 / 12%)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgb(203 196 204 / 8%), rgb(203 196 204 / 8%));
    --mio-theme-color-on-surface-variant-4: linear-gradient(0deg, rgb(203 196 204 / 12%), rgb(203 196 204 / 12%));
    --mio-theme-color-primary: #9f86ff;
    --mio-theme-color-primary-80: #ccbeff;
    --mio-theme-color-primary-30: #4c20bd;
    --mio-theme-color-primary-20: #340097;
    --mio-theme-color-neutral-10: #1c1b1d;
    --mio-theme-color-neutral-90: #e6e1e3;
    --mio-theme-color-on-primary: #1a0056;
    --mio-theme-color-primary-container: #4b21bd;
    --mio-theme-color-on-primary-container: #e7deff;
    --mio-theme-color-secondary: #a1a1ba;
    --mio-theme-color-on-secondary: #151629;
    --mio-theme-color-secondary-container: #45455a;
    --mio-theme-color-on-secondary-container: #e2e0fb;
    --mio-theme-color-tertiary-container: #553f5d;
    --mio-theme-color-on-tertiary-container: #f7d8ff;
    --mio-theme-color-utility-error: #ff6e4e;
    --mio-theme-color-utility-error-variant: #f9dedc;
    --mio-theme-color-utility-on-error: #490909;
    --mio-theme-color-utility-error-container: #ff6240;
    --mio-theme-color-utility-outline: #928f94;
    --mio-theme-color-utility-list-hover: rgb(203 196 204 / 8%);
    --mio-theme-color-utility-list-active: rgb(203 196 204 / 10%);
    --mio-theme-color-extensions-do-container: #36c450;
    --mio-theme-color-extensions-on-do-container: #093413;
    --mio-theme-color-extensions-dont-container: #ff6e4e;
    --mio-theme-color-extensions-on-dont-container: #490909;
    --mio-theme-color-extensions-caution-container: #ffce22;
    --mio-theme-color-extensions-on-caution-container: #3a2900;
    --mio-theme-color-copy-link-tooltip: #f2f2f2;
    --mio-theme-color-code-comment-color: #727578;
    --mio-theme-color-iframe-background: #e6e5e5;
    --mio-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --mio-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --mio-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%)
}

mio-root.nav-transition * {
    transition: background-color .5s cubic-bezier(.2,0,0,1),background-image .5s cubic-bezier(.2,0,0,1)
}

mwc-button {
    --mdc-typography-button-font-family: var(--mio-theme-v2-label-l-font-family);
    --mdc-typography-button-font-size: var(--mio-theme-v2-label-l-font-size);
    --mdc-typography-button-line-height: var(--mio-theme-v2-label-l-line-height);
    --mdc-typography-button-font-weight: var(--mio-theme-v2-label-l-font-weight);
    --mdc-typography-button-letter-spacing: var(--mio-theme-v2-label-l-letter-spacing);
    --mdc-typography-button-text-transform: none
}

* {
    box-sizing: border-box
}

html,body {
    height: 100%;
    margin: 0
}

body {
    font-family: Google Sans Text,sans-serif;
    font-family: var(--mio-theme-v2-body-l-font-family);
    font-size: 16px;
    font-size: var(--mio-theme-v2-body-l-font-size);
    font-weight: 400;
    font-weight: var(--mio-theme-v2-body-l-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-body-l-letter-spacing);
    line-height: 24px;
    line-height: var(--mio-theme-v2-body-l-line-height);
    font-variation-settings: "GRAD" 0,"opsz" 17;
    font-variation-settings: "GRAD" var(--mio-theme-v2-body-l-font-variation-GRAD),"opsz" var(--mio-theme-v2-body-l-font-variation-opsz);
    color: #1f1f1f;
    color: var(--mio-theme-color-on-surface)
}

@media screen and (max-width: 600px) {
    body {
        font-family:Google Sans Text,sans-serif;
        font-family: var(--mio-theme-v2-body-m-font-family);
        font-size: 14px;
        font-size: var(--mio-theme-v2-body-m-font-size);
        font-weight: 400;
        font-weight: var(--mio-theme-v2-body-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-body-m-letter-spacing);
        line-height: 20px;
        line-height: var(--mio-theme-v2-body-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 17;
        font-variation-settings: "GRAD" var(--mio-theme-v2-body-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-body-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
    body {
        font-family:Google Sans Text,sans-serif;
        font-family: var(--mio-theme-v2-body-l-font-family);
        font-size: 16px;
        font-size: var(--mio-theme-v2-body-l-font-size);
        font-weight: 400;
        font-weight: var(--mio-theme-v2-body-l-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-body-l-letter-spacing);
        line-height: 24px;
        line-height: var(--mio-theme-v2-body-l-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 17;
        font-variation-settings: "GRAD" var(--mio-theme-v2-body-l-font-variation-GRAD),"opsz" var(--mio-theme-v2-body-l-font-variation-opsz)
    }
}

h2,h4,h5,h6 {
    margin: 32px 0
}

h1 {
    font-family: Google Sans,sans-serif;
    font-family: var(--mio-theme-v2-display-l-font-family);
    font-size: 57px;
    font-size: var(--mio-theme-v2-display-l-font-size);
    font-weight: 475;
    font-weight: var(--mio-theme-v2-display-l-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-display-l-letter-spacing);
    line-height: 64px;
    line-height: var(--mio-theme-v2-display-l-line-height);
    font-variation-settings: "GRAD" 0,"opsz" 18;
    font-variation-settings: "GRAD" var(--mio-theme-v2-display-l-font-variation-GRAD),"opsz" var(--mio-theme-v2-display-l-font-variation-opsz);
    margin: 0
}

@media screen and (max-width: 600px) {
    h1 {
        font-family:Google Sans,sans-serif;
        font-family: var(--mio-theme-v2-display-s-font-family);
        font-size: 36px;
        font-size: var(--mio-theme-v2-display-s-font-size);
        font-weight: 475;
        font-weight: var(--mio-theme-v2-display-s-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-display-s-letter-spacing);
        line-height: 44px;
        line-height: var(--mio-theme-v2-display-s-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 18;
        font-variation-settings: "GRAD" var(--mio-theme-v2-display-s-font-variation-GRAD),"opsz" var(--mio-theme-v2-display-s-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
    h1 {
        font-family:Google Sans,sans-serif;
        font-family: var(--mio-theme-v2-display-m-font-family);
        font-size: 45px;
        font-size: var(--mio-theme-v2-display-m-font-size);
        font-weight: 475;
        font-weight: var(--mio-theme-v2-display-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-display-m-letter-spacing);
        line-height: 52px;
        line-height: var(--mio-theme-v2-display-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 18;
        font-variation-settings: "GRAD" var(--mio-theme-v2-display-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-display-m-font-variation-opsz)
    }
}

h2 {
    font-family: Google Sans,sans-serif;
    font-family: var(--mio-theme-v2-display-m-font-family);
    font-size: 45px;
    font-size: var(--mio-theme-v2-display-m-font-size);
    font-weight: 475;
    font-weight: var(--mio-theme-v2-display-m-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-display-m-letter-spacing);
    line-height: 52px;
    line-height: var(--mio-theme-v2-display-m-line-height);
    font-variation-settings: "GRAD" 0,"opsz" 18;
    font-variation-settings: "GRAD" var(--mio-theme-v2-display-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-display-m-font-variation-opsz)
}

@media screen and (max-width: 600px) {
    h2 {
        font-family:Google Sans,sans-serif;
        font-family: var(--mio-theme-v2-headline-l-font-family);
        font-size: 32px;
        font-size: var(--mio-theme-v2-headline-l-font-size);
        font-weight: 475;
        font-weight: var(--mio-theme-v2-headline-l-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-headline-l-letter-spacing);
        line-height: 40px;
        line-height: var(--mio-theme-v2-headline-l-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 18;
        font-variation-settings: "GRAD" var(--mio-theme-v2-headline-l-font-variation-GRAD),"opsz" var(--mio-theme-v2-headline-l-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
    h2 {
        font-family:Google Sans,sans-serif;
        font-family: var(--mio-theme-v2-display-s-font-family);
        font-size: 36px;
        font-size: var(--mio-theme-v2-display-s-font-size);
        font-weight: 475;
        font-weight: var(--mio-theme-v2-display-s-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-display-s-letter-spacing);
        line-height: 44px;
        line-height: var(--mio-theme-v2-display-s-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 18;
        font-variation-settings: "GRAD" var(--mio-theme-v2-display-s-font-variation-GRAD),"opsz" var(--mio-theme-v2-display-s-font-variation-opsz)
    }
}

h3 {
    font-family: Google Sans,sans-serif;
    font-family: var(--mio-theme-v2-display-s-font-family);
    font-size: 36px;
    font-size: var(--mio-theme-v2-display-s-font-size);
    font-weight: 475;
    font-weight: var(--mio-theme-v2-display-s-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-display-s-letter-spacing);
    line-height: 44px;
    line-height: var(--mio-theme-v2-display-s-line-height);
    font-variation-settings: "GRAD" 0,"opsz" 18;
    font-variation-settings: "GRAD" var(--mio-theme-v2-display-s-font-variation-GRAD),"opsz" var(--mio-theme-v2-display-s-font-variation-opsz);
    margin: 16px 0
}

@media screen and (max-width: 600px) {
    h3 {
        font-family:Google Sans,sans-serif;
        font-family: var(--mio-theme-v2-headline-m-font-family);
        font-size: 28px;
        font-size: var(--mio-theme-v2-headline-m-font-size);
        font-weight: 475;
        font-weight: var(--mio-theme-v2-headline-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-headline-m-letter-spacing);
        line-height: 36px;
        line-height: var(--mio-theme-v2-headline-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 18;
        font-variation-settings: "GRAD" var(--mio-theme-v2-headline-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-headline-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
    h3 {
        font-family:Google Sans,sans-serif;
        font-family: var(--mio-theme-v2-headline-l-font-family);
        font-size: 32px;
        font-size: var(--mio-theme-v2-headline-l-font-size);
        font-weight: 475;
        font-weight: var(--mio-theme-v2-headline-l-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-headline-l-letter-spacing);
        line-height: 40px;
        line-height: var(--mio-theme-v2-headline-l-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 18;
        font-variation-settings: "GRAD" var(--mio-theme-v2-headline-l-font-variation-GRAD),"opsz" var(--mio-theme-v2-headline-l-font-variation-opsz)
    }
}

h4 {
    font-family: Google Sans,sans-serif;
    font-family: var(--mio-theme-v2-headline-s-font-family);
    font-size: 24px;
    font-size: var(--mio-theme-v2-headline-s-font-size);
    font-weight: 475;
    font-weight: var(--mio-theme-v2-headline-s-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-headline-s-letter-spacing);
    line-height: 32px;
    line-height: var(--mio-theme-v2-headline-s-line-height);
    font-variation-settings: "GRAD" 0,"opsz" 18;
    font-variation-settings: "GRAD" var(--mio-theme-v2-headline-s-font-variation-GRAD),"opsz" var(--mio-theme-v2-headline-s-font-variation-opsz)
}

@media screen and (max-width: 600px) {
    h4 {
        font-family:Google Sans,sans-serif;
        font-family: var(--mio-theme-v2-headline-s-font-family);
        font-size: 24px;
        font-size: var(--mio-theme-v2-headline-s-font-size);
        font-weight: 475;
        font-weight: var(--mio-theme-v2-headline-s-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-headline-s-letter-spacing);
        line-height: 32px;
        line-height: var(--mio-theme-v2-headline-s-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 18;
        font-variation-settings: "GRAD" var(--mio-theme-v2-headline-s-font-variation-GRAD),"opsz" var(--mio-theme-v2-headline-s-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
    h4 {
        font-family:Google Sans,sans-serif;
        font-family: var(--mio-theme-v2-headline-s-font-family);
        font-size: 24px;
        font-size: var(--mio-theme-v2-headline-s-font-size);
        font-weight: 475;
        font-weight: var(--mio-theme-v2-headline-s-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-headline-s-letter-spacing);
        line-height: 32px;
        line-height: var(--mio-theme-v2-headline-s-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 18;
        font-variation-settings: "GRAD" var(--mio-theme-v2-headline-s-font-variation-GRAD),"opsz" var(--mio-theme-v2-headline-s-font-variation-opsz)
    }
}

h5 {
    font-family: Google Sans Text,sans-serif;
    font-family: var(--mio-theme-v2-title-m-font-family);
    font-size: 16px;
    font-size: var(--mio-theme-v2-title-m-font-size);
    font-weight: 500;
    font-weight: var(--mio-theme-v2-title-m-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
    line-height: 24px;
    line-height: var(--mio-theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" 0,"opsz" 17;
    font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz)
}

@media screen and (max-width: 600px) {
    h5 {
        font-family:Google Sans Text,sans-serif;
        font-family: var(--mio-theme-v2-title-m-font-family);
        font-size: 16px;
        font-size: var(--mio-theme-v2-title-m-font-size);
        font-weight: 500;
        font-weight: var(--mio-theme-v2-title-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
        line-height: 24px;
        line-height: var(--mio-theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 17;
        font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
    h5 {
        font-family:Google Sans Text,sans-serif;
        font-family: var(--mio-theme-v2-title-m-font-family);
        font-size: 16px;
        font-size: var(--mio-theme-v2-title-m-font-size);
        font-weight: 500;
        font-weight: var(--mio-theme-v2-title-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
        line-height: 24px;
        line-height: var(--mio-theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 17;
        font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz)
    }
}

h6 {
    font-family: Google Sans Text,sans-serif;
    font-family: var(--mio-theme-v2-title-m-font-family);
    font-size: 16px;
    font-size: var(--mio-theme-v2-title-m-font-size);
    font-weight: 500;
    font-weight: var(--mio-theme-v2-title-m-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
    line-height: 24px;
    line-height: var(--mio-theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" 0,"opsz" 17;
    font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz)
}

@media screen and (max-width: 600px) {
    h6 {
        font-family:Google Sans Text,sans-serif;
        font-family: var(--mio-theme-v2-title-m-font-family);
        font-size: 16px;
        font-size: var(--mio-theme-v2-title-m-font-size);
        font-weight: 500;
        font-weight: var(--mio-theme-v2-title-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
        line-height: 24px;
        line-height: var(--mio-theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 17;
        font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
    h6 {
        font-family:Google Sans Text,sans-serif;
        font-family: var(--mio-theme-v2-title-m-font-family);
        font-size: 16px;
        font-size: var(--mio-theme-v2-title-m-font-size);
        font-weight: 500;
        font-weight: var(--mio-theme-v2-title-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
        line-height: 24px;
        line-height: var(--mio-theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 17;
        font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz)
    }
}

strong,b {
    font-weight: 500
}

em {
    font-style: italic
}

a {
    font-family: Google Sans Text,sans-serif;
    font-family: var(--mio-theme-v2-title-m-font-family);
    font-size: 16px;
    font-size: var(--mio-theme-v2-title-m-font-size);
    font-weight: 500;
    font-weight: var(--mio-theme-v2-title-m-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
    line-height: 24px;
    line-height: var(--mio-theme-v2-title-m-line-height);
    font-variation-settings: "GRAD" 0,"opsz" 17;
    font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz);
    padding: 1px;
    border-radius: 4px;
    color: var(--mio-theme-color-primary);
    text-decoration: underline
}

@media screen and (max-width: 600px) {
    a {
        font-family:Google Sans Text,sans-serif;
        font-family: var(--mio-theme-v2-title-m-font-family);
        font-size: 16px;
        font-size: var(--mio-theme-v2-title-m-font-size);
        font-weight: 500;
        font-weight: var(--mio-theme-v2-title-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
        line-height: 24px;
        line-height: var(--mio-theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 17;
        font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz)
    }
}

@media screen and (min-width: 601px) and (max-width: 1294px) {
    a {
        font-family:Google Sans Text,sans-serif;
        font-family: var(--mio-theme-v2-title-m-font-family);
        font-size: 16px;
        font-size: var(--mio-theme-v2-title-m-font-size);
        font-weight: 500;
        font-weight: var(--mio-theme-v2-title-m-font-weight);
        letter-spacing: 0;
        letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
        line-height: 24px;
        line-height: var(--mio-theme-v2-title-m-line-height);
        font-variation-settings: "GRAD" 0,"opsz" 17;
        font-variation-settings: "GRAD" var(--mio-theme-v2-title-m-font-variation-GRAD),"opsz" var(--mio-theme-v2-title-m-font-variation-opsz)
    }
}

a:hover {
    color: var(--mio-theme-color-on-primary-container)
}

a:focus {
    margin: -1px;
    border: 1px solid var(--mio-theme-color-primary);
    outline: 0;
    box-shadow: inset 0 0 0 1px var(--mio-theme-color-surface-0)
}

a:hover:focus {
    border: 1px solid var(--mio-theme-color-on-primary-container);
    outline: 0;
    color: var(--mio-theme-color-on-primary-container)
}

p {
    margin-block-start:1em;margin-block-end:1em}

code {
    font-family: Google Sans Mono,sans-serif;
    font-family: var(--mio-theme-v2-code-l-font-family);
    font-size: 16px;
    font-size: var(--mio-theme-v2-code-l-font-size);
    font-weight: 400;
    font-weight: var(--mio-theme-v2-code-l-font-weight);
    letter-spacing: 0;
    letter-spacing: var(--mio-theme-v2-code-l-letter-spacing);
    line-height: 24px;
    line-height: var(--mio-theme-v2-code-l-line-height);
    font-variation-settings: "GRAD" var(--mio-theme-v2-code-l-font-variation-GRAD),"opsz" var(--mio-theme-v2-code-l-font-variation-opsz);
    padding: 0 2px;
    border-radius: 2px;
    background: var(--mio-theme-color-surface-3)
}

ul {
    list-style: disc outside none;
    list-style: initial
}

.ripple {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    border-radius: 50%;
    filter: blur(4px)
}

.animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

mio-card .description b {
    font-weight: 700
}

mio-search-page .view-toggle-section mio-icon-button .google-symbols {
    font-size: 32px
}

.search-items-text .highlight {
    color: #1f1f1f;
    color: var(--mio-theme-color-on-surface)
}

.ally-container:after {
    position: absolute;
    top: calc(50% - 24px);
    left: 0;
    width: 100%;
    min-width: 48px;
    min-height: 48px;
    content: ""
}

.ally-container-align:after {
    left: calc(50% - 24px)
}

.search-items .ally-container:after {
    left: calc(50% - 20px)
}
